* {
    cursor: default;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
body {
    overflow: hidden;
    justify-items: center;
}
.main {
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
    padding-left: 3vw;
    color: var(--font-color);
    background-color: var(--header-bc);
}
header {
    background-color: var(--header-bc);
    border-bottom: 2px solid var(--font-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 6px #000;
    height: 20vh;
}
:root {
    --main-color: #fff;
    --font-color: #202020;
    --header-bc: #e2e2e2;
    --menue-hover: #d4d4d4;
    --border-hover: #fff;
    --box-color: #fff;
}
.tools {
    display: flex;
    align-items: center;
    gap: 8px;
}
button[title="Add Task"] {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    margin-top: 10px;
    width: 36px;
    height: 36px;
    font-size: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    width: 25px;
    height: 2.6px;
    background-color: var(--font-color);
    margin: 2.5px 0;
    transition: 0.6s;
    transition-timing-function: reverse;
    cursor: pointer;
}
#item2 {
    animation: apper 0.3s linear forwards;
}
.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--header-bc);
    height: 36px;
    cursor: pointer;
}
.menu:hover {
    background-color: var(--menue-hover);
    border-radius: 8px;
    border: 1px solid var(--border-hover);
}
button[title="Add Task"]:hover {
    background-color: var(--menue-hover);
    border-radius: 8px;
    border: 1px solid var(--border-hover);
    cursor: pointer;
}
.taskBox {
    position: fixed;
    top: 25vh;
    left: 17vw;
    right: 17vw;
    background-color: var(--box-color);
    animation: apper 0.3s linear forwards;
    border: 2px solid var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 6vh;
    box-shadow: 0 0 10px #000;
    border-radius: 12px;
}
.taskBox input {
    width: 60%;
    height: 30px;
    margin: 10px 0;
    font-size: 16px;
    display: block;
    cursor: text;
    width: 50vw;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    outline: none;
}
#btn {
    width: 150px;
    height: 5vh;
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    background-color: var(--header-bc);
    margin-top: 2vh;
}
#btn:hover {
    background-color: var(--menue-hover);
}
.taskBox input:focus {
    border: 2px dashed rgb(1, 1, 209);
}
@keyframes apper {
    from {
        transform: scale(0);
    }
}
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: var(--font-color);
    width: 25px;
    height: 25px;
}
.taskBox h2 {
    color: var(--font-color);
}
.closeBtn:hover {
    background-color: var(--menue-hover);
    border-radius: 50%;
    border: 1px solid var(--border-hover);
}
.tasksContainer {
    position: fixed;
    top: 21vh;
    right: 0;
    left: 0;
    height: 84vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    overflow-y: auto;
    padding-top: 3vh;
    padding-bottom: 9vh;
}
.langs {
    width: 100vw;
    position: fixed;
    top: 9.6vh;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 12vh;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px #000;
    animation: apperMenu 0.4s linear forwards;
    height: 85.6vh;
    border-radius: 12px;
}
.langs a {
    width: 80vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--header-bc);
    border-radius: 8px;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
}
.langs a:hover {
    background-color: var(--menue-hover);
    border: 1px solid var(--border-hover);
}
@keyframes apperMenu {
    from {
        transform: translateX(-100vw);
    }
}
.taskCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    box-sizing: border-box;
    width: 91vw;
    height: auto;
    background-color: var(--header-bc);
    border-radius: 8px;
    box-shadow: 0 0 5px #000;
    margin-right: 2vw;
    margin-left: 3.2vw;
}
.taskCard:hover {
    background-color: var(--menue-hover);
    border: 1px solid var(--border-hover);
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--font-color);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
.search button {
    width: 13vw;
    height: 5vh;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--font-color);
    cursor: pointer;
    margin-left: -10px;
    margin-right: -10px;
}
input[type="search"] {
    width: 75vw;
    height: 5vh;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    cursor: text;
}
.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}
.btns button {
    width: 18vw;
    height: 5vh;
    border-radius: 8px;
    font-size: 12px;
    border: 1px solid var(--font-color);
    background-color: var(--header-bc);
    cursor: pointer;
}
.btns button:hover {
    background-color: var(--menue-hover);
}
.searchResult {
    background-color: var(--main-color);
    border: 1px solid var(--border-hover);
    position: fixed;
    top: 21vh;
    right: 0;
    left: 0;
    height: 84vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    overflow-y: auto;
    padding-top: 3vh;
    padding-bottom: 12vh;
    background-color: var(--main-color);
}
.back {
    position: fixed;
    left: 20px;
    top: 16px;
    font-size: 20px;
    cursor: pointer;
}
.expired , .success {
    height: 10vh;
    box-sizing: border-box;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: center;
}
.expiredTasksContainer , .successTasksContainer{
    width: 100vw;
    height: 88vh;
    position: fixed;
    top: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 3vh;
    padding-bottom: 9vh;
}
.expiredTasksContainer .taskCard , .expiredTasksContainer button {
    background-color: rgba(180, 0, 0, 0.2);
}
.expiredTasksContainer button:hover {
    background-color: rgba(180, 0, 0, 0.1);
}
.successTasksContainer .taskCard , .successTasksContainer button {
    background-color: rgba(30, 180, 0, 0.2);
}
.successTasksContainer button:hover {
    background-color: rgba(30, 180, 0, 0.1);
}
.Empty {
    margin-top: 25vh;
    font-size: 20px;
}
.confirmBox {
    position: fixed;
    top: 40vh;
    background: var(--main-color);
    box-shadow: 0 0 8px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 16px;
    height: 155px;
    width: 320px;
    animation: apper 0.2s linear forwards;
    color: var(--font-color);
    padding: 40px 14px;
}
.confirmBtns {
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    margin-top: 50px;
}
.confirmBtns button {
    background-color: rgb(46, 111, 231);
    color: #fff;
    border: none;
    width: 57px;
    height: 26px;
    border-radius: 8px;
    cursor: pointer;
}
.confirmBox button:hover {
    border: 0.01rem solid var(--font-color);
    background-color: rgb(15, 92, 235);
}
#no {
    background-color: var(--header-bc);
    color: var(--font-color)
}